.txt-full-width {
    max-width: 100% !important;
}

.padding30 {
    padding: 30px;
}

.border-right {
    border-right: 0.5px solid #cccccc;
}
.full-height {
    height: 100%;
}

.float-right {
    float: right;
}